uvicorn

pyannote.audio
openai-whisper
python-Levenshtein
pydu
speechbrain
silero-vad
seaborn

psycopg2-binary
spacy
transformers
statsmodels
ipython
datasets
python-dotenv

boto3

runpod

# Torch
#--index-url https://download.pytorch.org/whl/cu126
torch
torchaudio